/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 1, 2021, 11:13:04 PM
    Author     : Will
*/

.background {
     background-image: url(#{request.contextPath}/image/background.jpg);
}
.text{
    color: white;
}
.movieTable {   
   border-collapse:collapse;
   border:1px solid #000000;
}

.movieTableHeader {
   text-align:center;
   background:none repeat scroll 0 0 #FFFFFF;
   border-bottom:1px solid #000000;  
   padding:5px;
}

.movieTableOddRow {
   color: white;
   text-align:center;
   background:none repeat scroll 0 0 #B22222;	
}

.movieTableEvenRow {
   text-align:center;
   background:none repeat scroll 0 0 #D3D3D3;
}