/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 1, 2021, 11:13:04 PM
    Author     : Will
*/

.background {
     background-image: url(#{request.contextPath}/image/background.jpg);
}
.text{
    color: white;
    font-family: sans-serif;
}
.movieTable {   
   /*border-collapse:collapse;*/
   border-collapse:separate; 
   border-spacing:2em;
   /*border:3px solid #000000;*/
   padding: 10px;
   border-radius: 5px;

}

.movieTableHeader {
   text-align:center;
   background:none repeat scroll 0 0 #FFFFFF;
   border-bottom:1px solid #000000;  
   padding:5px;
   border-radius: 5px;
   /*font-size: ;*/

}

body {
    background-color: #FFCBAA;
    font-family: sans-serif;
}

h1 {
    font-size: 2em;
    font-family: sans-serif;

}

table {
    border-collapse: separate;
    border-spacing: 0 0.5em;

}

tr {
    font-size: 1.2em;
    font-family: sans-serif;
    color: #961313;
}

tr td {
  padding: 15px 20px;
  background-color: rgba(255, 238, 227, .93);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  
}

